.tips-section{
  margin-top: 2rem;
}
.plans-section{
  margin-top: 1.5rem;
}
.plan-title{
  color: green;
  font-weight: 900 !important;
  font-size: 28px !important;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.section-testimonials{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.section-how-to-pay{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.plan-price{
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}
.testimonials-title{
  text-align: center;
}
.section-footer{
  margin-top: 1.5rem;
}
.amazon{
  color: #FFFF !important;
  background-color: #FF9900 !important;
  background: #FF9900 !important;
}
.how-to-pay-header{
  color: #6fda44 !important;
}
.footer-text{
  color: gray !important;
}
.how-to-subscribe-title{
  margin-top: 2rem;
  color: green;
  font-weight: 900 !important;
  font-size: 28px !important;
  text-align: center;
}
.exemption{
  color: red;
}
.contact-us-section{
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}